# 外国書購読: Introduction to Python

This notebook gives an introductory to Python for beginners without coding experience. 

It covers the basics of Python programming language: explaining the concepts of:
- variables and data types
- operators and control structures
- functions and modules and packages. 

The notebook provides explanations and examples of each topic, along with corresponding code snippets to help beginners understand and practice Python programming.

## Section 1: What is a Python program?

A Pythyon program is a sequence of instructions.

In python, every line of a program contains an instruction.

Most instructions assign values to variables.

In [111]:
x = 5      # This instruction assigns value 5 to variable x.
y = 7      # This instruction assigns value 7 to variable y.
z = x + y  # This insruction assings to variable z the sum of x and y values
print(z)   # This instruction displays the value of variable z

12

## Section 2: Variables and Data Types

In programming, variables are used to store values for later use.

Data types refer to the different kinds of data that can be stored in variables.

There are 4 basic types: integer, floats, string and boolean

And "container" types called collections: List, Dictionaries, Set and Tuples.

Here, we will only learn about list and dictionaries

### 2.1 Basic types

In [66]:
# Numbers
# Integers and floats are two types of numbers in Python.

In [67]:
# Integers
x = 5
y = 10
z = x + y
print(z)

15

In [68]:
# Floats
a = 2.5
b = 3.6
c = a * b
print(c)

9.0

In [69]:
# Strings
# Strings are used to represent text or characters.
name = "John"
greeting = f"Hello, {name}!"
print(greeting)

Hello, John!

In [70]:
# Booleans
# Booleans represent the truth value of an expression.
# They can only have two values: True or False.
is_student = True
is_teacher = False
print(is_student)
print(is_teacher)

True
False

### 2.2 Collection types

In [37]:
# Lists
# A collection of values that are ordered and changeable.
# Enclose a comma-separated sequence of values in square brackets.

In [38]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [39]:
# Accessing items in a list
print(fruits[1])

banana

In [40]:
# Changing an item in a list
fruits[1] = "orange"
print(fruits)

['apple', 'orange', 'cherry']

In [41]:
# Adding an item to a list
fruits.append("banana")
print(fruits)

['apple', 'orange', 'cherry', 'banana']

In [42]:
# Removing an item from a list
fruits.remove("orange")
print(fruits)

['apple', 'cherry', 'banana']

In [43]:
# Dictionaries
# A collection of key-value pairs that are unordered and changeable.
# Enclose a comma-separated sequence of key-value pairs in curly braces.

In [44]:
person = {"name": "John", "age": 30, "country": "USA"}
print(person)

{'name': 'John', 'age': 30, 'country': 'USA'}

In [45]:
# Accessing items in a dictionary
print(person["name"])

John

In [46]:
# Changing a value in a dictionary
person["age"] = 35
print(person)

{'name': 'John', 'age': 35, 'country': 'USA'}

In [47]:
# Adding a new key-value pair to a dictionary
person["city"] = "New York"
print(person)

{'name': 'John', 'age': 35, 'country': 'USA', 'city': 'New York'}

In [48]:
# Removing a key-value pair from a dictionary
del person["country"]
print(person)

{'name': 'John', 'age': 35, 'city': 'New York'}

## Section 3: Operators

Operators in Python are used to perform operations on variables and values.

There are three types of operators: arithmetic, comparison, and logical operators.

In [71]:
# Arithmetic Operators
# These operators are used to perform mathematical operations.
# Addition
a = 5
b = 3
c = a + b
print(c)

8

In [72]:
# Subtraction
d = 8
e = 4
f = d - e
print(f)

4

In [73]:
# Multiplication
g = 6
h = 7
i = g * h
print(i)

42

In [74]:
# Division
j = 10
k = 2
l = j / k
print(l)

5.0

In [76]:
# Exponentiation
p = 2
q = 3
r = p ** q
print(r)

8

In [77]:
# Comparison Operators
# These operators are used to compare values.
# Equal to
s = 5
t = 5
print(s == t)

True

In [79]:
# Strict Comparison 
w = 10
x = 5
print(w > x)
print(w < x)

True

In [84]:
# Logical Operators
# These operators are used to combine expressions and return a Boolean value.
# AND
e = 5
f = 10
g = 15
print(e < f and f < g)

True

In [85]:
# OR
h = 20
i = 25
j = 30
print(h < i or i > j)

True

In [86]:
# NOT
k = 35
l = 40
print(not k == l)

True

### Exercise:

- What is the value of 1654.2 / 6

- Is 4.56 greater than 11.6992 / 2.56?

## Section 4: Control Structures

Control structures are used to control the flow of a program.

The most common control structures in Python are if-else statements, for loops, and while loops.

### 4.1 If-Else Statements

If-else statements are used to execute different code blocks based on different conditions.

Syntax:

In [87]:
# if condition:
#     code block
# else:
#     code block

In [89]:
# Example:
age = 20
if age >= 20:
    print("You are major.")
else:
    print("You are minor.")

You are major.

In [90]:
# For Loops
# For loops are used to iterate over a sequence (such as a list, tuple, or string).
# Syntax:
# for variable in sequence:
#     code block

In [91]:
# Example:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

### Exercise

Using a for loop, compute the value of:

$\sum_{i=1, i=10} \frac{1}{i}$

## Functions

Functions are sequences of instructions that are grouped under a name.

Functions take variables as inputs and return variables as outputs.

In [97]:
def add_and_multiply(x):
    z = x + 2
    y = z * 7
    return y

The function above has name "greet".

It takes a variable "x" as input and returns the variable "y" as output.

It computes the operation $y=(x+2) \times 7$

This function can be executed as follows:

In [98]:
my_number = 5
my_output = add_and_multiply(my_number)
print(my_output)

49

## Modules and Packages

In [99]:
# Section 6: Modules and Packages

In [100]:
# Modules are files containing Python code that can be imported and used in other Python code.
# Packages are directories containing Python modules and an __init__.py file that indicates that the directory is a Python package.

In [101]:
# Importing a module
# To use a module in Python, you must first import it using the import keyword.
# Syntax:
# import module_name

In [102]:
import math

In [103]:
# Using a module
# Once a module is imported, you can use its functions and variables in your code.
# Syntax:
# module_name.function_name()
# module_name.variable_name

In [104]:
print(math.sqrt(25)) # Output: 5.0

5.0

In [105]:
# Importing specific functions and variables from a module
# You can also import specific functions and variables from a module using the from keyword.
# Syntax:
# from module_name import function_name, variable_name

In [106]:
from math import pi

In [107]:
print(pi) # Output: 3.141592653589793

3.141592653589793

In [108]:
# Importing a module with an alias
# You can import a module with an alias using the as keyword.
# Syntax:
# import module_name as alias

In [109]:
import statistics as stats

In [110]:
print(stats.median([1, 2, 3, 4, 5])) # Output: 3

3